body {
  background-image: linear-gradient(
    to left top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  margin: 20px;
}

#can1 {
  height: 576px;
  width: 720x;
  border: 1px solid black;
}

input {
  font-size: 14px;
}